.footer {
  position: relative;
  /* Establece la posición relativa para el footer */
  height: 150px;
  /* Establece la altura del footer */
  width: 84%;
  /* Establece el ancho del footer al 90% del contenedor principal */
  clear: both;
  /* Limpia los flotadores */
  background-color: red;
  /* Establece el color de fondo del footer */
  align-items: center;
  /* Centra verticalmente el contenido */
  text-align: center;
  /* Centra el texto horizontalmente */
  justify-content: center;
  /* Centra horizontalmente el contenido */
  display: flex;
  /* Utiliza el modelo de caja flexible */
  color: #ff4c29;
  background-color: #2c394b;

  border-radius: 50px;
}

.ContenedorPadredeFotoeInfo{
  position: absolute;
  top: 18px;
  left: 20px;
  display: flex;
  align-items: center;
}

.divContenedordeAlbumFoto{
  display: flex;
  align-items: center;
}

.divCuadradoBlanco {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  width: 120px;
  height: 117px;
}

.divEspaciado {
  width: 5px;
}

.divNombreCancionArtistaCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 8px;
}

.nombreCancion {
  font-size: 16px;
  font-weight: bold;
  margin-top: -50px
}

.nombreArtista {
  font-size: 14px;
}
.progressBar {
  position: absolute;
  bottom: 15px;
  width: 65%;
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
}

.progressBarInterno{
  width: 90;
  height: 10px;
  background-color: #ff4c29;
  animation: fill 80s linear;
  border-radius: 5px;
}

@keyframes fill {
  from { width: 0%; }
  to { width: 100%; }
}

.iconosDeReproduccion{
  margin-bottom: -25px;
}