.songContainer {
    display: flex;
    /* Establece el contenedor como un flexbox */
    background-color: #082032;
    /* Establece el color de fondo */
    width: 80%;
    /* Establece el ancho del contenedor al 80% del contenedor padre */
    height: 30%;
    /* Establece la altura del contenedor al 30% del contenedor padre */
    justify-content: center;
    /* Centra los elementos horizontalmente */
    align-items: center;
    /* Centra los elementos verticalmente */
    margin: 5px;
    /* Establece los márgenes del contenedor */
}

.albumphoto {
    width: 100px;
    /* Establece el ancho del elemento */
    height: 100px;
    /* Establece la altura del elemento */
    display: flex;
    /* Establece el elemento como un flexbox */
    justify-content: center;
    /* Centra los elementos horizontalmente */
    align-items: center;
    /* Centra los elementos verticalmente */
    text-align: center;
    /* Alinea el texto horizontalmente */
    background-color: #2c394b;
    /* Establece el color de fondo */
    color: #ff4c29;
    /* Establece el color del texto */
    border-radius: 30px;
}

.image {
    border-radius: 30px;
}

.song {
    width: 700px;
    /* Establece el ancho del elemento */
    height: 100px;
    /* Establece la altura del elemento */
    display: flex;
    /* Establece el elemento como un flexbox */
    justify-content: center;
    /* Centra los elementos horizontalmente */
    align-items: center;
    /* Centra los elementos verticalmente */
    text-align: center;
    /* Alinea el texto horizontalmente */
    background-color: #2c394b;
    /* Establece el color de fondo */
    color: #ff4c29;
    /* Establece el color del texto */
    border-radius: 30px;
    cursor: pointer;
}

.space {
    width: 20px;
    /* Establece el ancho del elemento */
}