.main{
    background-color: #082032;
    width: 100%;
    height: 80%;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
.musicList { /*Aqui este es el contenedor que donde ira la foto del album y la cancion... */
    background-color: rgb(168, 136, 136);
    overflow: auto;
    max-height: 80%;



  }

  
  