.main{
    background-color: #082032;
    width: 100%;
    height: 74%;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
.musicList { /*Aqui este es el contenedor que donde ira la foto del album y la cancion... */
    background-color: #082032;
    overflow: auto;
    max-height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;


  }

  
  